.navbar-padding{
  padding-bottom: 40px;
}

.rounder-picture{
  border:1px;
  border-radius: 10px;
}
.type{
  text-align: center;
  font-size: 250%;
  margin: 40px;
  color: #4DB6AC;
}
#seccion2{
  margin-top: 30px;
}

.formulario-padding{
  margin: 20px auto;
  width: 700px;
  -webkit-border-radius: 8px/7px;
  -moz-border-radius: 8px/7px;
  border-radius: 8px/7px;
  background-color:#E0F2F1;
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.31);
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.31);
  box-shadow: 1px 2px 5px rgba(0,0,0,.31);
  border: solid 1px #4DB6AC;
}

#message{
  height: 80px;
}


#btnEnviar{
  margin-bottom: 10px;
  margin-left: 600px;
}

#mensaje {
	height:100px;
  width:
	max-width:100%;
  resize:none;
}
